<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <form method="POST" action="/new">
      <input type="text" name="name"/>
      <input type="text" name="breed"/>
      <input type="text" name="age"/>
      <input type="submit" id="submit"/>
    </form>
  </body>
</html>
