<!DOCTYPE html>
<html>
<head>
  <title>List a New Puppy</title>
  <meta charset="UTF-8">
</head>
<body>
  <form type="POST" action="/display_puppy">
    <input type="text" name="name">
    <input type="text" age="age">
    <input type="text" breed="breed">
    <input type="submit" value="submit">
</form>
</body>
</html>
