<!DOCTYPE html>
<html>
<head>
  <title>Welcome to the Puppy Adoption Site</title>
  <meta charset="UTF-8">
</head>
<body>
    <h1>welcome</h1>
    <h2><a href="/new">Click Here To List A Puppy</a></h2>
  </body>
</html>
